$o-horizontal-padding: 20px;
$o-main-text-color: black;

$o-red: #B71C1C; // Red
$o-white: #FFFFFF; // White
$o-gray: #707070; // gray
$o-darker-gray: #4f4f51; // gray
$o-light-gray: #adb5bdc2; // gray
$o-black: #000000; // Black
$o-blue : #013382;
$o-cc1-link: #adb5bdc2;
$o-cc1-btn-primary: #adb5bdc2;
$o-cc1-btn-primary-border: #adb5bdc2;

$o-onboarding-dot-size: 20px;
$o-onboarding-dot-timing: 0.5s;

.text-muted {
    color: $o-black !important;
}
.o_searchview .o_searchview_facet .o_searchview_facet_label {
    background-color: #ec1818;
}
code {
    font-size: 87.5%;
    color: red;
    word-break: break-word;
}

/* In menu_customization.css */
/* Hide the menu text */
.oe_secondary_menu_placeholder {
    display: none;
}

/* Show your logo instead of the menu text */
.oe_secondary_menu {
    display: flex;
    align-items: center;
}


.o_search_panel .o_search_panel_category .o_search_panel_section_icon {
    color: #D50000;
}

code {
    font-size: 87.5%;
    color: #495057;
    word-break: break-word;
}

.btn-info {
    color: #D50000;
    background-color: #ffffff;
    border-color: #000;
}

.btn-primary {
    color: #fff;
    background-color: #dc3545;
    border-color: #000;
}
a {
    color: #013382;
    text-decoration: none;
    background-color: transparent;
}

.o_form_view .oe_button_box .oe_stat_button .o_button_icon {
    color: #013382;
}
.btn-primary {
    color: #fff;
    background-color: $o-red;
    border-color: var(--terminal-screen-background-color);
}
.o_form_view .oe_button_box .oe_stat_button .o_button_icon {
    color: var(--gray);
}
.o_form_view .o_form_uri > span:first-child {
    color: var(--danger);
}
.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info .o_stat_value, .o_form_view .oe_button_box .btn.oe_stat_button > span .o_stat_value {
    font-weight: 700;
    color: $o-red;
}
.btn-link {
    font-weight: 400;
    color: $o-red;
    text-decoration: none;
}
.o_form_view .o_horizontal_separator {
    color: $o-blue;
    font-weight: bold;
}
.o_main_navbar .dropdown .dropdown-toggle:hover, .o_main_navbar .o_nav_entry:hover, .o_main_navbar > .o_menu_sections > div:hover, .o_main_navbar > .o_menu_sections > div > a:hover, .o_main_navbar .o_menu_systray > div:hover, .o_main_navbar .o_menu_systray > div > a:hover, .o_main_navbar .o_menu_toggle:hover, .o_main_navbar .o_navbar_apps_menu:hover, .o_main_navbar .o_menu_brand:hover, .o_main_navbar .dropdown .dropdown-toggle:focus, .o_main_navbar .o_nav_entry:focus, .o_main_navbar > .o_menu_sections > div:focus, .o_main_navbar > .o_menu_sections > div > a:focus, .o_main_navbar .o_menu_systray > div:focus, .o_main_navbar .o_menu_systray > div > a:focus, .o_main_navbar .o_menu_toggle:focus, .o_main_navbar .o_navbar_apps_menu:focus, .o_main_navbar .o_menu_brand:focus, .o_main_navbar .dropdown .focus.dropdown-toggle, .o_main_navbar .focus.o_nav_entry, .o_main_navbar > .o_menu_sections > div.focus, .o_main_navbar > .o_menu_sections > div > a.focus, .o_main_navbar .o_menu_systray > div.focus, .o_main_navbar .o_menu_systray > div > a.focus, .o_main_navbar .focus.o_menu_toggle, .o_main_navbar .focus.o_navbar_apps_menu, .o_main_navbar .focus.o_menu_brand {
    color: #a0a0a0;
}
span[data-section]:hover {
    color: $o-red;
}
.custom-control-input:checked ~ .custom-control-label::before {
    color: $o-white;
    border-color: $o-red;
    background-color: $o-red;
}
.btn-fill-primary:hover, .btn-primary:hover {
    color: #fff;
    background-color: $o-darker-gray;
    border-color: $o-darker-gray;
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    background-color: $o-red;
    color: #fff;
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:after, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:before {
    border-left-color: $o-red;
}
.o_required_modifier {
    --o-input-border-color: $o-red;
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:after, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:before {
    border-left-color: $o-red;
}

.btn-link:disabled, .btn-link.disabled {
    color: $o-red;
    pointer-events: none;
}
.o_purchase_dashboard .table > thead > tr > td.o_main, .o_purchase_dashboard .table tbody > tr > td.o_main {
    background-color: $o-red;
}
.o_view_nocontent .o_nocontent_help .o_view_nocontent_smiling_face:before {
    width: 120px;
    height: 140px;
    background: transparent url(https://imtech-product.s3.eu-west-2.amazonaws.com/imtech-new-logo.svg) no-repeat center;
    background-size: contain; /* Optional: Adjust the background size based on your preference */
    background-position: center; /* Center the background image horizontally and vertically */
}
.o_tooltip::before {
    content: "";
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: 0;
    width: 28px;
    height: 28px;
    border: 3px solid white;
    border-radius: 0 50% 50% 50%;
    background: radial-gradient(#D50000, #d50000ab);
    box-shadow: 0 0 40px 2px rgba(255, 255, 255, 0.5);
}
.o_main_navbar {
    background-color: $o-darker-gray;
    border-bottom: 1px solid $o-red;
    display: grid;
    height: 46px;
    gap: 0px 0px;
    grid-template-areas: "apps brand sections systray";
    grid-template-columns: minmax(46px, max-content) max-content minmax(46px, 1fr) fit-content(100%);
    grid-template-rows: 46px;
    min-width: min-content;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before {
    right: -11px;
    border-left-color: #C9CCD2;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before {
    right: -11px;
    border-left-color: #C9CCD2;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled:not(.btn-primary), .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled:not(.btn-primary):hover, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled:not(.btn-primary):focus {
    color: rgba(68, 75, 90, 0.76);
}
.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: var(--o-color-3);
    border-color: #000;
}
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: auto;
    bottom: auto;
    right: -10px;
    border-top: 16px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: none;
    border-left: 11px solid var(--o-color-3);
    -moz-transform: scale(0.9999);
}
.o_main_navbar .dropdown.show > .dropdown-toggle, .o_main_navbar .o_menu_sections .dropdown.show > .dropdown-toggle, .o_main_navbar .o_menu_systray .dropdown.show > .dropdown-toggle, .o_main_navbar > .o_menu_sections > div.show > a, .o_main_navbar .o_menu_systray > div.show > a, .o_main_navbar .dropdown.show > .dropdown-toggle:hover, .o_main_navbar .o_menu_sections .dropdown.show > .dropdown-toggle:hover, .o_main_navbar .o_menu_systray .dropdown.show > .dropdown-toggle:hover, .o_main_navbar > .o_menu_sections > div.show > a:hover, .o_main_navbar .o_menu_systray > div.show > a:hover, .o_main_navbar .dropdown.show > .dropdown-toggle:focus, .o_main_navbar .o_menu_sections .dropdown.show > .dropdown-toggle:focus, .o_main_navbar .o_menu_systray .dropdown.show > .dropdown-toggle:focus, .o_main_navbar > .o_menu_sections > div.show > a:focus, .o_main_navbar .o_menu_systray > div.show > a:focus {
    background: #4f4f51;
    color: var(--o-color-3);
    font-weight: bold;
}
.o_main_navbar .dropdown .dropdown-toggle:hover, .o_main_navbar .o_nav_entry:hover, .o_main_navbar > .o_menu_sections > div:hover, .o_main_navbar > .o_menu_sections > div > a:hover, .o_main_navbar .o_menu_systray > div:hover, .o_main_navbar .o_menu_systray > div > a:hover, .o_main_navbar .o_menu_toggle:hover, .o_main_navbar .o_navbar_apps_menu:hover, .o_main_navbar .o_menu_brand:hover, .o_main_navbar .dropdown .dropdown-toggle:focus, .o_main_navbar .o_nav_entry:focus, .o_main_navbar > .o_menu_sections > div:focus, .o_main_navbar > .o_menu_sections > div > a:focus, .o_main_navbar .o_menu_systray > div:focus, .o_main_navbar .o_menu_systray > div > a:focus, .o_main_navbar .o_menu_toggle:focus, .o_main_navbar .o_navbar_apps_menu:focus, .o_main_navbar .o_menu_brand:focus, .o_main_navbar .dropdown .focus.dropdown-toggle, .o_main_navbar .focus.o_nav_entry, .o_main_navbar > .o_menu_sections > div.focus, .o_main_navbar > .o_menu_sections > div > a.focus, .o_main_navbar .o_menu_systray > div.focus, .o_main_navbar .o_menu_systray > div > a.focus, .o_main_navbar .focus.o_menu_toggle, .o_main_navbar .focus.o_navbar_apps_menu, .o_main_navbar .focus.o_menu_brand {
    color: $o-darker-gray;
}
.o_field_widget.o_field_many2one .o_external_button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0;
    margin-left: 2px;
    font-size: 19px;
    color: $o-red;
    border: none;
}
.btn-secondary, .o_kanban_barcode .o_kanban_record.oe_kanban_details {
    color: #091124;
    background-color: white;
    border-color: white;
    color: $o-red;
}
.btn-secondary.disabled, .o_kanban_barcode .disabled.o_kanban_record.oe_kanban_details, .btn-secondary:disabled, .o_kanban_barcode .o_kanban_record.oe_kanban_details:disabled {
    color: v$o-darker-gray;
    background-color: var(--o-color-3);
    border-color: #000;
}
.oe_form_field_html a:not(.btn) {
    color: $o-blue;
}
.text-primary {
    color: $o-blue !important;
}
.o_field_widget .o_field_many2one .o_input_dropdown .o_input, .o_field_widget .o_field_many2manytags .o_input_dropdown .o_input {
    border-bottom: 1px solid $o-red;
    transform: translateY(2px);
}
.o_main_navbar .dropdown .dropdown-toggle, .o_main_navbar .o_menu_sections .dropdown .dropdown-toggle, .o_main_navbar .o_menu_systray .dropdown .dropdown-toggle, .o_main_navbar .o_nav_entry, .o_main_navbar .o_menu_sections .o_nav_entry, .o_main_navbar .o_menu_systray .o_nav_entry, .o_main_navbar > .o_menu_sections > div, .o_main_navbar > .o_menu_sections > div > a, .o_main_navbar .o_menu_systray > div, .o_main_navbar .o_menu_systray > div > a, .o_main_navbar .o_menu_toggle, .o_main_navbar .o_navbar_apps_menu, .o_main_navbar .o_menu_brand {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: auto;
    height: 46px;
    cursor: pointer;
    user-select: none;
    background: transparent;
    color: #FFFFFF;
    font-weight: bold;
}
.btn-secondary.disabled, .o_kanban_barcode .disabled.o_kanban_record.oe_kanban_details, .btn-secondary:disabled, .o_kanban_barcode .o_kanban_record.oe_kanban_details:disabled {
    color: $o-darker-gray;
    background-color: var(--o-color-3);
    border-color: #000;
}
o_main_navbar::after {
    content: "";
    grid-area: image;
    background-image: url(https://imtech-product.s3.eu-west-2.amazonaws.com/imtech-new-logo.svg);
    background-size: center;
    background-position: center;
}

.o_main_navbar::before {
    content: "";
    grid-area: image;
    background: url(/imtech_theme_creator/static/src/img/imtech_logo.png) center center/contain no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

//hover menu bar
.o_main_navbar .dropdown.show > .dropdown-toggle, .o_main_navbar .o_menu_sections .dropdown.show > .dropdown-toggle, .o_main_navbar .o_menu_systray .dropdown.show > .dropdown-toggle, .o_main_navbar > .o_menu_sections > div.show > a, .o_main_navbar .o_menu_systray > div.show > a, .o_main_navbar .dropdown.show > .dropdown-toggle:hover, .o_main_navbar .o_menu_sections .dropdown.show > .dropdown-toggle:hover, .o_main_navbar .o_menu_systray .dropdown.show > .dropdown-toggle:hover, .o_main_navbar > .o_menu_sections > div.show > a:hover, .o_main_navbar .o_menu_systray > div.show > a:hover, .o_main_navbar .dropdown.show > .dropdown-toggle:focus, .o_main_navbar .o_menu_sections .dropdown.show > .dropdown-toggle:focus, .o_main_navbar .o_menu_systray .dropdown.show > .dropdown-toggle:focus, .o_main_navbar > .o_menu_sections > div.show > a:focus, .o_main_navbar .o_menu_systray > div.show > a:focus {
    background: #404040;
    color: var(--o-color-3);
    font-weight: bold;
}

.o_home_menu_background {
    background: url(/web_enterprise/static/img/home-menu-bg-overlay.svg), linear-gradient(to right bottom, black, $o-red);
    background-size: cover;
}

.o_main_navbar .dropdown .dropdown-toggle:hover, .o_main_navbar .o_nav_entry:hover, .o_main_navbar > .o_menu_sections > div:hover, .o_main_navbar > .o_menu_sections > div > a:hover, .o_main_navbar .o_menu_systray > div:hover, .o_main_navbar .o_menu_systray > div > a:hover, .o_main_navbar .o_menu_toggle:hover, .o_main_navbar .o_navbar_apps_menu:hover, .o_main_navbar .o_menu_brand:hover, .o_main_navbar .dropdown .dropdown-toggle:focus, .o_main_navbar .o_nav_entry:focus, .o_main_navbar > .o_menu_sections > div:focus, .o_main_navbar > .o_menu_sections > div > a:focus, .o_main_navbar .o_menu_systray > div:focus, .o_main_navbar .o_menu_systray > div > a:focus, .o_main_navbar .o_menu_toggle:focus, .o_main_navbar .o_navbar_apps_menu:focus, .o_main_navbar .o_menu_brand:focus, .o_main_navbar .dropdown .focus.dropdown-toggle, .o_main_navbar .focus.o_nav_entry, .o_main_navbar > .o_menu_sections > div.focus, .o_main_navbar > .o_menu_sections > div > a.focus, .o_main_navbar .o_menu_systray > div.focus, .o_main_navbar .o_menu_systray > div > a.focus, .o_main_navbar .focus.o_menu_toggle, .o_main_navbar .focus.o_navbar_apps_menu, .o_main_navbar .focus.o_menu_brand {
    color: white;
}

.fa-th:before {
    content: "";
    display: inline-block;
    width: 120px;
    height: 60px;
    background-image:url('/imtech_theme_creator/static/src/img/imtech_white.svg');
    background-size: 100%;
    margin-right: 10px;
    background-position: right;
    background-repeat: no-repeat;}


.o_home_menu_background::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 30px;
    width: 150px;
    height: 80px;
    background: url('/imtech_theme_creator/static/src/img/imtech_white.svg');
    background-size: 100%;
     background-position: right;
    background-repeat: no-repeat;
    z-index: 9999;
}

.btn-secondary {
    color: #091124;
    background-color: white;
    border-color: white;
    color: black;
}

.btn-link {
    font-weight: 400;
    color: var(--black-25);
    text-decoration: none;
}
.badge {
    border: 1px solid $o-darker-gray;
}
.o_MessagingMenu_counter {
    background-color: $o-red;
}
.o_input {
    border-width: 0 0 1px 0;
    padding: 1px 0;
}
.btn-fill-primary, .btn-primary {
    color: #fff;
    background-color: $o-red !important;
    border-color: $o-red !important;
}
.o_required_modifier.o_input, .o_required_modifier .o_input {
    border-width: 0 0 1px 0;
    border-color: $o-darker-gray;

}